## Instalamos y actualizamos PySpark

In [1]:
!pip install --upgrade pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 310.8/310.8 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=86aba5b81163b66dabefa632602821d5e049f58075a45ac50b58d455d6ecfba2
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

## Definimos el path del dataset de muestra de Colab

In [2]:
train = '/content/sample_data/california_housing_test.csv'

## Importamos funciones de PySpark SQL

In [3]:
from pyspark.sql.functions import *

## Creamos una SparkSession para trabajar con Apache Spark

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

## Definimos 'tren' como nuestro dataframe de prueba

In [5]:
tren = spark.read.csv(path=train,header=True)

## IMPORTANTE: Creamos una vista temporal para poder operar con SQL. Sin esta vista, las queries de SQL no van a funcionar.

In [6]:
tren.createOrReplaceTempView("trencito")

## En 'trenazo' van a estar alojadas las modificaciones hechas sobre 'trencito' mediante queries de SQL

In [7]:
trenazo = spark.sql( \
          'SELECT * \
           FROM trencito \
           LIMIT 3')

## SQL Magic ü•µü•∂üöÄ

In [8]:
trenazo.show()

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+